## How to handle categorical features

#### One Hot Encoding

In [4]:
import pandas as pd

In [6]:
df = pd.read_csv("train.csv",usecols=["Sex"])

In [7]:
pd.get_dummies(df).head()

   Sex_female  Sex_male
0           0         1
1           1         0
2           1         0
3           1         0
4           0         1